{% load django_bootstrap5 %}
{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Math888</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}
    
    {% load static %}  
    <link rel="stylesheet" href="{% static 'game.css' %}">
</head>
<body data-username="{{ user.username }}">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <!-- Logo -->
            <a class="navbar-brand" href="{% url 'home' %}">MATH888</a>

            <!-- Navbar Toggler (สำหรับมือถือ) -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <!-- Center Menu -->
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                </ul>
            </div>

            <div>
                {% if user.is_authenticated %}
                <span class="text-white me-3">Username {{ user.username }}</span>
                <a href="{% url 'logout' %}" class="btn btn-outline-light">LOGOUT</a>
                {% else %}
                <a href="{% url 'login' %}" class="btn btn-outline-light">LOGIN</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="input-container">
      <label for="equationInput">Enter an equation (ex. y = 4x + 1):</label>
      <input type="text" id="equationInput" placeholder="y = mx + b">
<!--       
      <label for="degreeInput">Enter degree (0-360°):</label>
      <input type="number" id="degreeInput" min="0" max="360" placeholder="0-360">
       -->
      <button id="plotButton">Plot Graph</button>
      <!-- <button id="test">test</button> -->
    </div>
    
    <canvas id="graphCanvas"></canvas>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/11.0.0/math.min.js"></script>
    <script src="{% static 'game_main.js' %}"></script>
    <!-- <script src="{% static 'game.js' %}"></script> -->
</body>
</html>
